.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 96px 1fr 0.2fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  background-color: var(--md-sys-color-secondary-container);
}

.sidebar-hidden {
  grid-template-columns: 0 1fr !important;
}
