.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 96px 1fr 0.2fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  background-color: var(--md-sys-color-secondary-container);
}

.sidebar-hidden {
  grid-template-columns: 0 1fr !important;
}

.appbar-hidden {
  grid-template-rows: 0px 1fr 0px !important;
}
