.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--md-sys-color-primary-container);
  position: relative;
  bottom: 0;
  transition: bottom 0.2s ease-out;
}

.footer-collapse {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--md-sys-color-primary-container);
  position: relative;
  bottom: -100px;
}

.head-container {
  padding: 0 4px;
  font-size: 12px;
}

.tail-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 4px;
  padding: 4px;
}

.indicator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 4px;
  align-items: center;
  font-size: 16px;
}

.success-text {
  color: var(--text-color);
}

.error-text {
  color: var(--md-sys-color-error);
}

.toast {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}
