.header {
  grid-area: header;
  font-family: "SarasaMonoSC";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 4px;
  row-gap: 8px;
  background-color: var(--md-sys-color-primary-container);

  /* 可拖拽区域 */
  -webkit-app-region: drag;
}

.operations-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.start-container {
  /* 容器区域需要点击交互, 设置为不可拖拽 */
  -webkit-app-region: no-drag;
}

.tail-container {
  /* 容器区域需要点击交互, 设置为不可拖拽 */
  -webkit-app-region: no-drag;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: nowrap;
}

.window-icon {
  width: 32px;
  height: 32px;
  font-size: 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 8px;

  /* 标题区域需要点击交互, 设置为不可拖拽 */
  -webkit-app-region: no-drag;
  width: fit-content;
}

.title-input {
  --md-outlined-text-field-top-space: 4px;
  --md-outlined-text-field-bottom-space: 4px;
}

.title-text {
  color: var(--text-color);
}

.time-picker-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #000000 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.time-picker-action-container {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.time-picker-input-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
}

.time-picker-title {
  padding: 8px;
}

.time-picker {
  width: 128px;
  height: 32px;
  border: none;
  border-radius: 24px;
  padding: 12px;
  font-size: 16px;
}

.dialog {
  width: 256px;
  height: 212px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.time-picker-action-button {
  width: 96px;
}
